################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Webanide
/Sample1/bin/Debug/net5.0
/Sample1/obj
/Webanide/.vs/Webanide
/Webanide/bin/Debug/net5.0
/Webanide/obj
